body {
    margin: 0;
    background-color: black !important;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.border {
    border: 1px solid;
}

.quiz-card {
    width: 30rem;
}